@{
    ViewBag.Title = "Home Page";
}

<style>
    .img-preview {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

        .img-preview::after {
            content: "";
            flex: auto;
        }

    .img-thb {
        max-width: 150px;
        max-height: 150px;
        padding: 2px;
        vertical-align: middle;
        transition: ease-in;
        position: relative;
    }

        .img-thb.border {
            border: 3px solid #FF9800;
            box-shadow: 0px 0px 5px #FF9800;
            border-radius: 5px;
        }

    div.box {
        margin: 8px;
        position: relative;
    }


    .info {
        z-index: 1;
        background-color: rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        /*background-color: #008CBA;*/
    }

        .info p {
            margin: 0;
            color: white;
            font-size: 1.25rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            font-weight: bolder;
        }

            .info p:after {
                content: ' \002B';
            }

        .info:hover {
            -webkit-transition: 500ms;
            opacity: 1;
        }

    img.max {
        width: 100%;
        height: auto;
    }
</style>

<p>
    <a href="@Url.Action("FindLog","Home")" style="margin:8px">Log</a>
    <a href="@Url.Action("Photo","Home")" style="margin:8px">Photo</a>
    <a href="@Url.Action("Calander","Home")" style="margin:8px">Calander</a>
    <a href="@Url.Action("TimeLine","Home")" style="margin:8px">TimeLine</a>
    <a href="@Url.Action("Slideshow","Home")" style="margin:8px">Slideshow</a>
</p>

<form id="upload-form">
    <div class="wj-dropBlock">
        <div class="drop-area">
            <i class="fa fa-cloud-upload fa-5x"></i>
            <p>Drag & Drop Photos Here</p>
        </div>
        <input type="file" name="file-1[]" id="imgUpload" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
        <label for="imgUpload"><span id="imgUpload-span">Or Click Here &hellip;</span></label>
    </div>
</form>

<div id="loading-part" class="hidden" style="width:100%;text-align:center;">
    <div class="progressbar"><div></div></div>
    <p id="result"></p>
    <p id="timeResult" class="hidden"></p>
</div>

<div class="img-preview" id='preview'></div>

<div id="ErrList"></div>


@section Scripts {

    <script>
        var _LoadingCnt = 3, _Counter, _Total, _Start, _Files, _Way = "S";
        var parser = new UAParser().getResult();

        //  屏蔽
        $.wait = function (msg) {
            $("body").addClass("loading");
            if (!msg) { msg = "資料查詢中..."; }
            $('#loading-msg').text(msg);
        };

        $.close = function () {
            $("body").removeClass("loading");
        };

        // Gallery 關閉
        function CloseVbox() {
            $('.vbox-close').trigger('click');
        }

        function IsEmpty(val) {
            return (!val || val == "");
        }

        // Formt File
        function FormatFile(file) {
            var obj = {
                File: "",
                Name: "",
                Ext: "",
                ModifyDate: "",
                Size: ""
            };

            if (typeof (file) != "undefined") {
                var modifyDate = new Date(typeof (file.lastModified) == 'undefined' ? new Date() : file.lastModified);
                modifyDate = modifyDate.toISOString().substring(0, 10) + " " + modifyDate.toTimeString().substring(0, 8);

                obj.File = file;
                obj.Name = file.name.replace(/\.[^/.]+$/, "");
                obj.Ext = file.name.split('.').pop().toLowerCase();
                obj.ModifyDate = modifyDate;
                obj.Size = file.size;

            }

            return obj;
        }

        // 圖片是否已載入
        function ImgLoadDone() {
            _Counter++;
            if (_Counter === _Total) {
                console.log('All Image loaded');
            }
        }

        // 進度條
        function UpdateProgress(selector, errMsg, percent, counter, src) {
            if (parseInt(percent) >= 100) {
                percent = 100;
            }

            var complete = parseInt(percent).toFixed();
            $(selector).css('width', complete + "%").text(complete + "%");

            if (!IsEmpty(errMsg)) {
                $('#ErrList').append(errMsg + "<br>");
            } else {
                var $img = $('#img_' + counter);
                $img.attr('src', src).attr('data-org-src', src).addClass('border').addClass('fade-in');
                $img.parent('div.box').show();
            }

        }

        //上傳
        function Upload(files, cnt) {
            var uaParser = {
                BrowserName: parser.browser.name,
                BrowserVersion: parser.browser.version,
                EngineName: parser.engine.name,
                EngineVersion: parser.engine.version,
                OsName: parser.os.name,
                OsVersion: parser.os.version,
                DeviceType: parser.device.type,
                DeviceVendor: parser.device.vendor
            }
            var fd = new FormData();

            for (var i = 0; i < files.length; i++) {
                fd.append('file', files[i]);
            }

            fd.append('UAParser', JSON.stringify(uaParser));

            var progressNotifier = $.connection.progressHub;
            progressNotifier.client.sendMessage = function (selector, errMsg, percent, counter, src) {
                UpdateProgress(selector, errMsg, percent, counter, src);
            };

            $.connection.hub.start().done(function () {
                fd.append('Selector', '.progressbar > div');
                fd.append("ConnId", $.connection.hub.id);

                $.ajax({
                    url: '/Home/GetPhotoInfo',
                    type: 'POST',
                    data: fd,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (data) {
                        $('#timeResult').append('耗時: ' + fancyTimeFormat((new Date().getTime() - _Start.getTime()) / 1000)).show();

                        var $form = document.getElementById('upload-form');
                        $form.reset();
                        $form.style.display = "";

                        if (data[0] != '') {
                            // Error
                            $('#p_' + cnt).html(data[0]).parent().css('opacity', '1');
                        } else {
                            var $img = $('#img_' + cnt);
                            $img.attr('src', data[1]).addClass('border').addClass('fade-in');
                        }

                    }, error: function (response) {
                        if (response.status == 200) {
                            layer.alert('200');
                        } else {
                            console.log(response.responseText);
                            if (response.statusText != 'abort') {
                                layer.alert(decodeURIComponent(response.statusText), { icon: 7 });
                            }
                        }
                        $.close();
                    }
                });

            });
        }

        // 每張圖預覽
        function PreviewInfo(loadingSrc, fileCnt) {
            var file = FormatFile(_Files[fileCnt]);

            var box = document.createElement('div');
            box.setAttribute('class', 'box');

            var info = document.createElement('div');
            info.setAttribute('class', 'info');

            // 進度
            var txt = document.createElement('p');
            txt.setAttribute('id', 'p_' + fileCnt);
            txt.innerText = '';

            info.appendChild(txt);

            // 縮圖
            var img = document.createElement('img');
            img.setAttribute('src', loadingSrc);
            img.setAttribute('id', 'img_' + fileCnt);
            img.classList.add('img-thb', 'fade-in');
            img.setAttribute('data-title', file.Name);

            if ((_Total - _LoadingCnt > fileCnt)) {
                // 後3張不隱藏
                box.style.display = "none";
                //img.style.display = "none";
            }

            img.onload = function () {
                ImgLoadDone();
            }

            box.appendChild(img);
            box.appendChild(info);

            $("#preview").append(box);
        }

        // 檢查格式
        function VerifyImg(files) {
            Init();
            _Counter = 0;
            _Total = files.length;
            _Start = new Date();
            _Files = files;

            Upload(files);
            $('#loading-part').show();

            for (var i = 0; i < files.length; i++) {
                var file = FormatFile(files[i]);

                if (_Way == "S") {
                    PreviewInfo('../Image/Double-ball.gif', i);
                } else {
                    if (file.Ext == "heic") {

                        (function (file, i) {
                            var fd = new FormData();
                            fd.append('file', file);

                            $.ajax({
                                url: '/Home/FormatPhoto',
                                type: 'POST',
                                data: fd,
                                processData: false,  // tell jQuery not to process the data
                                contentType: false,  // tell jQuery not to set contentType
                                success: function (data) {
                                    PreviewInfo(data[1], i);
                                }
                            });
                        })(file.File, i);

                    } else {

                        (function (file, i) {
                            ResizeRotateImg(file, i)
                        })(file.File, i);
                    }
                }
            }

        }

        // 非HEIC圖片方向修正
        function ResizeRotateImg(file, i) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext("2d");
                var img = new Image();
                img.onload = function () {
                    //設定長邊上限值
                    var max_Length = 1920;

                    var imgWidth = img.width;
                    var imgHeight = img.height;

                    if (imgWidth > imgHeight) {
                        if (imgWidth > max_Length) {
                            imgHeight = Math.round(imgHeight *= max_Length / imgWidth);
                            imgWidth = max_Length;
                        }
                    } else {
                        if (imgHeight > max_Length) {
                            imgWidth = Math.round(imgWidth *= max_Length / imgHeight);
                            imgHeight = max_Length;
                        }
                    }

                    canvas.width = imgWidth;
                    canvas.height = imgHeight;

                    var that = this;
                    EXIF.getData(img, function () {
                        var orientation = EXIF.getTag(that, 'Orientation');

                        if (orientation == 6 || orientation == 8 || orientation == 3) {
                            var rotateAngle = 0;

                            switch (orientation) {
                                case 3:
                                    rotateAngle = 180;
                                    break;
                                case 6:
                                    rotateAngle = 90;
                                    canvas.width = imgHeight;
                                    canvas.height = imgWidth;
                                    break;
                                case 8:
                                    rotateAngle = -90;
                                    canvas.width = imgHeight;
                                    canvas.height = imgWidth;
                                    break;
                            }

                            var x = canvas.width / 2;
                            var y = canvas.height / 2;

                            ctx.translate(x, y);
                            ctx.rotate(rotateAngle * Math.PI / 180);

                            ctx.drawImage(img, (-imgWidth / 2), (-imgHeight / 2), imgWidth, imgHeight);
                        }
                        else {
                            ctx.drawImage(img, 0, 0, imgWidth, imgHeight);
                        }
                    });
                    PreviewInfo(canvas.toDataURL("image/jpeg", 1.0), i);
                };

                img.src = e.target.result;
            };
        }

        function Init() {
            _Files = [];
            _Counter = 0;
            _Total = 0;

            $('#ErrList,#timeResult,#preview').empty();
            $('#upload-form').hide();
        }

        // 秒數 format
        function fancyTimeFormat(time) {
            // Hours, minutes and seconds
            var hrs = ~~(time / 3600);
            var mins = ~~((time % 3600) / 60);
            var secs = ~~time % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            var ret = "";

            if (hrs > 0) {
                ret += "" + hrs + "時 " + (mins < 10 ? "0" : "");
            }

            ret += "" + mins + "分 ";
            ret += "" + secs + "秒";
            return ret;
        }

        // Input圖片上傳
        $('#imgUpload').on('change', function (e) {
            if (e.target.files.length > 0) {
                VerifyImg(e.target.files);
            }
        });

        $(function () {
            // 拖拉區塊
            //http://www.tipocode.com/html/drag-and-drop-multiple-files-upload-with-html5-jquery-formdata/#
            $('.wj-dropBlock').on('dragover', function (e) {
                $(this).attr('class', 'drop_hover');
                e.preventDefault();
                e.stopPropagation();
            });

            // Add eventhandlers for dragenter and prevent the default actions for this event
            $('.wj-dropBlock').on('dragenter', function (e) {
                e.preventDefault();
                e.stopPropagation();
            });

            $('.wj-dropBlock').on('dragleave', function (e) {
                $(this).attr('class', 'wj-dropBlock');
            });

            $('.wj-dropBlock').on('drop', function (e) {
                if (e.originalEvent.dataTransfer) {
                    if (e.originalEvent.dataTransfer.files.length) {
                        e.preventDefault();
                        e.stopPropagation();

                        VerifyImg(e.originalEvent.dataTransfer.files);
                    }
                }
            });

        });

        // base64 to blob
        function base64toBlob(dataURI) {

            var byteString = atob(dataURI.split(',')[1]);
            var ab = new ArrayBuffer(byteString.length);
            var ia = new Uint8Array(ab);

            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }
            return new Blob([ab], { type: 'image/jpeg' });
        }
    </script>

}