
@{
    ViewBag.Title = "LogView";
}

<h2>LogView</h2>

<table id="a" class="table data-table table-center table-striped table-hover">
    <thead>
        <tr>
            <th>LogDate</th>
            <th>Controller/Action</th>
            <th>Message</th>
            <th>StackTrace</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var e in (List<Log.Log>)ViewBag.LogList) {
        <tr>
            <td>@e.LogDate</td>
            <td>@e.Controller / @e.Action</td>
            <td>@e.Message</td>
            <td>@e.StackTrace</td>
        </tr>
        }

    </tbody>
</table>