@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photo";
}

@model List<Service.Model.PhotoModel>
@{
    var setting = new Settings.SettingsContextModule().Create("Test");
}
<form method="post" action="/Home/Photo">
    <input type="text" name="StartDate" value="20190801" />
    <input type="text" name="EndDate" value="20200404" />
    <button type="submit">Query</button>
</form>

@if (Model == null) {

} else {

    <section>
        @foreach (var m in Model) {
            var w = (double)m.Width;
            var h = (double)m.Height;
            double styleWidth = w * 200 / h;
            double padding = h / w * 100;
            var org = "data:image/" + m.FileExt.Replace(".", "") + ";base64," + Convert.ToBase64String(FilesIO.Files.ReadBinaryFile($"C:\\inetpub\\wwwroot\\Photo\\Temp\\{m.PhotoSN}_1920.jpg"));
            var thumbnail = "data:image/" + m.FileExt.Replace(".", "") + ";base64," + Convert.ToBase64String(FilesIO.Files.ReadBinaryFile($"C:\\inetpub\\wwwroot\\Photo\\Temp\\{m.PhotoSN}_{AppConfig.ThumbnailPixel}.jpg"));

        <div class='img-box' style="width:@(styleWidth)px;flex-grow:@(styleWidth)">
            <i style="padding-bottom:@(padding)%"></i>
            @*<img class="lazy" id="@(m.FileName)" data-org-src="../Temp/@($"{m.PhotoSN}_1920.jpg")" data-src="../Temp/@($"{m.PhotoSN}_{AppConfig.ThumbnailPixel}.jpg")" src="" data-title="@m.FileName" alt="">*@
            <img class="lazy" id="@(m.FileName)" data-org-src="@org" data-src="@thumbnail" src="" data-title="@m.FileName" alt="">
            <div class="info">
                <button onClick='console.log("download")'>下載<i class='fa fa-cloud-download'></i></button>
                <button onClick='console.log("add favorite")'>我的最愛<i class='fa fa-star-o'></i></button>
                <button onClick='console.log("add photo")'>加入相簿<i class='fa fa-plus-square-o'></i></button>
                <p>Hello World!</p>
            </div>
        </div>
        }
    </section>

}

@section Scripts {

    <script>

        $('.lazy').Lazy();

    </script>

}