
@{
    ViewBag.Title = "LogView";
}

@Html.Raw(Model.Pager.GoPage("_PagerViewTop"))

<div id="@(Model.TagId)-responsive" class="table-responsive">
    <table id="@(Model.TagId)-table" class="table data-table table-center table-striped table-hover">
        <thead>
            <tr>
                <th>LogDate</th>
                <th>Controller/Action</th>
                <th>Message</th>
                <th>StackTrace</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var e in (List<Log.Log>)Model.Data) {
                <tr>
                    <td>@e.LogDate</td>
                    <td>@e.Controller / @e.Action</td>
                    <td>@e.Message</td>
                    <td>@e.StackTrace</td>
                </tr>
            }

        </tbody>
    </table>

</div>

@Html.Raw(Model.Pager.GoPage("_PagerViewBottom"))